<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/reset.css" />
  </head>
  <body>
    <header>
      <div class="headerRow">
        <div class="headerColumn">
          <a href="/">
            <img src="/img/home.svg" />
          </a>
        </div>
        <div class="headerColumn">
          <a href="/">
            <h2>SHOP</h2>
          </a>
        </div>
        <% if(loggedUser){ %>
        <div class="headerColumn">
          <a href="https://www.instagram.com/juunzzi/">
            <img src="/img/search.svg" />
          </a>
          <a href="<%=routes.logout%>">
            <span id="Login">Logout</span>
          </a>
          <a href="<%=routes.userDetail(loggedUser.id)%>">
            <span id="mypage">MyPage</span>
          </a>
          <a href="<%=routes.shoppingBasket(loggedUser.id)%>">
            <span id="cart">Cart</span>
          </a>
        </div>
        <% }else{ %>
        <div class="headerColumn">
          <a href="https://www.instagram.com/juunzzi/">
            <img src="../img/search.svg" />
          </a>
          <a href="<%=routes.login%>">
            <span id="Login">Login</span>
          </a>
          <a href="<%=routes.join%>">
            <span id="Login">Join</span>
          </a>

         
        </div>
        <% } %>
      </div>
      <br />
      <div class="headerRow">
        <div class="headerColumn">
          <a href="/clothes/outer/1"><span>OUTER</span></a>
        </div>
        <div class="headerColumn">
          <a href="/clothes/top/1"><span>TOP</span></a>
        </div>
        <div class="headerColumn">
          <a href="/clothes/bottom/1"><span>BOTTOM</span></a>
        </div>
        <div class="headerColumn">
          <a href="/clothes/shoes/1"><span>SHOES</span></a>
        </div>
      </div>
      <br /><br />
      <div class="headerRow">
        <div class="headerColumn">
          <a href="/clothes/sale"><span>SALE</span></a>
        </div>
        <div class="headerColumn">
          <a href="/clothes/popular"><span>POPULAR</span></a>
        </div>
        <div class="headerColumn">
          <a href="/clothes/sale"><span>SALE</span></a>
        </div>
        <div class="headerColumn">
          <a href="/clothes/popular"><span>POPULAR</span></a>
        </div>
      </div>
      <br />
    </header>
    <div class="Section">
      <div class="signUpButton">
        <a href="/join">
          <span style="font-size: 18px">SIGN UP NOW</span>
        </a>
      </div>
    </div>
    <footer>
      <span>copyrightⓒ by supergreat</span>
    </footer>
  </body>
</html>
